@using AspCourse.Models.ChatModels;
@using System.Text.RegularExpressions;

@model AspCourse.Models.ChatModels.ChatViewModels.MessagesListPartialViewModel


@{
    
}
@if(Model.Messages != null)
{
    var rgx = new Regex("\\>>.*\\d");     

    foreach (Message m in Model.Messages.OrderBy(m => m.CreatedAt))
    {
        foreach (Match match in rgx.Matches(m.Text))
        {
            var id = match.Value.Substring(2);
            m.Text = m.Text.Replace(match.Value, $"<a href=\"#{id}\">{match.Value}</a>");
        }

        <div id="@m.Id" class="well" style="background-color:@m.Author.Color">
            <img src="@m.Author.AvatarUrl" height="50" />            
            <p>@m.Id - <a href="~/Profile/GetUser/?username=@m.Author.Id">@m.Author.NickName</a> - @m.CreatedAt.ToLocalTime() - <a href="#newMessageText" onclick="replyToMessage(@m.Id)">reply</a></p>
                
            <p>@Html.Raw(m.Text.Replace("\n", " <br />"))</p>

            @if (!string.IsNullOrEmpty(m.PictureUrl))
            {
                <p><a target="_blank" href="@m.PictureUrl"><img src="@m.PictureUrl" height="300" /></a></p>
            }
            
            @if (Model.IsModer)
            {
                <button class="btn btn-default" onclick="removeMessage(@m.Id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
            }
            <button class="btn btn-default" onclick="toggleLike(@m.Id, 'Message', 'Like')"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
            @m.Likes.Where(l => l.Type == "Like").Count()
            <button class="btn btn-default" onclick="toggleLike(@m.Id, 'Message', 'Dislike')"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
            @m.Likes.Where(l => l.Type == "Dislike").Count()
            <button class="btn btn-default" onclick="toggleLike(@m.Id, 'Message', 'Star')"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
            @m.Likes.Where(l => l.Type == "Star").Count()
            
        </div>
            
    }
}
else
{
    <h1>No messages found</h1>
}