@using AspCourse.Models.ChatModels;
@model AspCourse.Models.ChatModels.ChatViewModels.TopicViewModel


<script>

    


    function sendNewMessage() {
        $.post({
            url: "/Chat/AddNewMessage",
            data:{
                NewMessageText: $('#newMessageText').val(),
                NewMessageTopicId: "@Model.Topic.Id"
            },
            success: function (data) {
                console.log(data);
                window.location.reload();
            }
        });
    }

    function removeMessage(id){
        $.ajax({
            url: "/Chat/RemoveMessage/?id=" + id,
            type:"DELETE",
            success:function(data){
                console.log(data);   
                window.location.reload();
            }
        })    
    }


</script>

<h1>
    @if (Model.Topic.IsSticky)
    {
        <abbr title="Thread is sticky"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></abbr>
    }
    @if (Model.Topic.IsClosed)
    {
        <abbr title="Thread is closed"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span></abbr>
        
    }

    @Model.Topic.Title
</h1>
<hr />
@{
    if (Model.Messages != null)
    {
        @foreach (Message m in Model.Messages.OrderBy(m => m.CreatedAt))
        {
            <div class="well" style="background-color:@m.Author.Color">
                <img src="@m.Author.AvatarUrl" width="50" />            
                <p>@m.Id - <a href="~/Profile/GetUser/?username=@m.AuthorId">@m.Author.NickName</a> - @m.CreatedAt.ToLocalTime()</p>
                <p>@m.Text</p>

                @{
                    if (Model.IsModer)
                    {
                        <button onclick="removeMessage(@m.Id)">DELETE</button>
                    }
                }
            </div>
            
        }
    }
    else
    {
        <h1>No messages found</h1>
    }
}
@if (!Model.Topic.IsClosed)
{
    <br />
    <p><textarea id="newMessageText" style="height:150px;width:500px" placeholder="Enter Message text here"></textarea></p>
    <p><button class="btn btn-default" onclick="sendNewMessage()">Send</button></p>
}





